@import "../node_modules/placeholder-loading/dist/css/placeholder-loading.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
	font-family: sourceCodePro;
	src: url('/fonts/SourceCodePro-Regular.ttf');
} */


html,
body {
	height: 100%;
	height: 100svh;

}

.shadow {
	box-shadow: 3px 5px 3px black;
}

.translate-anim-container {
	display: block;
	overflow: hidden;
}

.translate-anim {
	display: block;
	animation: translate-landing 1.5s ease forwards;
	transform: translateY(150%);
}

@keyframes translate-landing {
	100% {
		transform: translateY(0);
	}
}

.layout-container {
	width: 100vw;
	height: 100vh;
}

@screen xl {
	.layout-container {
		max-width: 700px;
		max-height: 900px;
	}
}

@screen 2xl {
	.layout-container {
		max-width: 800px;
		max-height: 1000px;
	}
}

.del-btn {
	@apply bg-red-400 text-white p-2
}

.create-btn {
	@apply bg-green-500 text-white p-2 drop-shadow-sm
}

.create-btn-2 {
	@apply border-2 border-green-500 p-2 drop-shadow-sm
}

.btn {
	@apply border-2 border-gray-700 p-2 drop-shadow-sm
}


.small-btn {
	@apply border-2 border-gray-700 px-1 drop-shadow-sm
}

.sel-small-btn {
	@apply border-2 border-gray-700 bg-gray-700 px-1 text-white drop-shadow-sm
}

.sel-btn {
	@apply border-2 border-gray-700 bg-gray-700 p-2 text-white drop-shadow-sm
}

.placeholder-text {
	@apply text-gray-500 text-xl
}


.form-text {
	@apply text-gray-500 text-lg;
}

.crop {
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
}

@responsive {
	.w-diary {
		width: 32rem;
	}
}

.label {
	@apply text-gray-500 mb-1
}

.disabled {
	@apply opacity-50
}

.input-text {
	@apply border-2 p-1
}

.text-area {
	@apply border-2 p-1;
	max-height: 10rem;
}